* {
  margin: 0;
  padding: 0;
}

body {
  width: 21.3cm;
  height: 29.7cm;
  margin: 20px;
}

p {
  margin-bottom: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
  height: 50px;
}

.margin{
  width: 20%;
}

.maintext {
  width: 75%
}

.margin p {
  margin-bottom: 80px;
}